<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="[ '/agilidad-numerica']">Juego agilidad numerica</ion-button>
  <ion-button [routerLink]="[ '/regla-de-tres']">Juego regla de tres</ion-button>
</ion-content>
