<app-game-bar
[time]="{seconds: 100}"
[points]="points"
[lifes]="lifes"
timeActived="true"
lifesActived="true"
[progress]="progress"
id="boton"
></app-game-bar>
<ion-button (click)="quitarVida()">quitar vida </ion-button>
<ion-button (click)="onClick()">hjhj</ion-button>