/* Variables globales*/
$micolor: #845EC2;
$mitalla: 1.5vh;

/* MIXIN */
@mixin textazo($translation) {
    color: #000000;
    background: #845EC2;
    border-style: dotted;
    transition: translateX($translation);
    //@include textazo();
}

// @import "../../../global.scss";