$first-row-height: 4vh;
$text-size: 2vh;

.ldBar-label {
    font-weight: 1000;
    font-size: 3vh;   // OJO
    color: var(--text-color);
}

.ldBar-label::after {
  display: none;
  content: "Progreso";
  font-size: $text-size;
}

.progress-bar {
  max-height: $first-row-height;
  margin-left: auto;
  margin-right: auto;
}

.img-bar {
  --size: 4vh; // OJO ESTA ATRIBUTO SE CAMBIA SIN VARIABLE
  margin-left: auto;
  margin-right: auto;
  border-top: 0;
}

.botton-bar:hover {
  background-color: var(--hover-color);
}

.bar-text {
  text-align: center;
  font-size: $text-size;
}

.no-bot-top-padding {
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (max-width: 800px){
  .bar-text {
    font-size: 3vh;
  }

  .ldBar-label::after {
    font-size: 3vh;
  }
}

.cont-bar{
  height: 3vh;
  margin-top: 1vh;
}

.game-bar{
  background-color: #eeeeee;
}

.opacity{
  opacity: 0.1;
}

.shadow{
  // box-shadow: 0.1vw 0.1vh 3px 0px #000000;
  // border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 3px;
}
