<ion-grid
[ngStyle]="{'padding-left': padding, 'padding-right': padding}"
class="no-bot-top-padding game-bar">
  <ion-row>
    <ion-col
    class="no-bot-top-padding botton-bar shadow">
      <ion-row>
        <ion-col
        class="no-bot-top-padding ">
          <ion-thumbnail
          class="img-bar">
              <img src="assets/bar-images/pause.svg">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
        class="no-bot-top-padding bar-text botton-bar">
            Pause
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col
    class="opacity">
    </ion-col>
    <ion-col
    [ngClass]="{'opacity': !timeActived}"
    class="no-bot-top-padding shadow">
        <ion-row>
            <ion-col
            size="2"
            class="no-bot-top-padding">
              <ion-thumbnail
              class="img-bar">
                  <img src="assets/bar-images/cronometro-free.svg">
              </ion-thumbnail>
            </ion-col>
            <ion-col
            size="10"
            class="no-bot-top-padding bar-text cont-bar">
              {{ actualTime }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col
            class="no-bot-top-padding bar-text">
                Tiempo
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col
    [ngClass]="{'opacity': !lifesActived}"
    class="no-bot-top-padding shadow">
      <ion-row>
        <ion-col
        class="no-bot-top-padding">
          <ion-thumbnail
          [ngStyle]="{'opacity': lifes < 1?opacity:1}"
          class="img-bar">
            <img src="assets/bar-images/corazon-free.svg">
          </ion-thumbnail>
        </ion-col>
        <ion-col
        class="no-bot-top-padding">
          <ion-thumbnail
          [ngStyle]="{'opacity': lifes < 2?opacity:1}"
          class="img-bar">
            <img src="assets/bar-images/corazon-free.svg">
          </ion-thumbnail>
        </ion-col>
        <ion-col
        class="no-bot-top-padding">
          <ion-thumbnail
          [ngStyle]="{'opacity': lifes < 3?opacity:1}"
          class="img-bar">
            <img src="assets/bar-images/corazon-free.svg">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col
          class="no-bot-top-padding bar-text">
            Vidas
          </ion-col>
        </ion-row>
    </ion-col>
    <ion-col
    class="no-bot-top-padding shadow">
      <ion-row>
        <ion-col
        class="no-bot-top-padding img-bar">
          <app-progress-img
            [progress]="progress">
          </app-progress-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col
          class="no-bot-top-padding bar-text">
            Progreso
          </ion-col>
        </ion-row>
    </ion-col>
    <ion-col
    class="no-bot-top-padding shadow">
      <ion-row>
        <ion-col
        class="no-bot-top-padding bar-text cont-bar">
          {{points}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
        class="no-bot-top-padding bar-text">
          Puntos
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
