.cuadro {
    height: 3vh;
    width: 3vw;
    background-color: #0fa7ff;
    border-radius: 10px;
  }

  .cont {
    // width: 5vw;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .progress {
    // width: 100%;
    border: none;
    background: none;
    text-align: center;
    font-size: 2vh;
  }

  @media screen and (max-width: 800px) and (min-width: 500px){
    .progress{
      position: relative;
      top: -2vh;
      font-size: 3vh;
    }  
  }

  @media screen and (max-width: 500px){
    .progress{
      position: relative;
      top: -3vh;
      font-size: 3vh;
    }  
  }